Django
Werkzeug
django-crispy-forms
django-debug-toolbar
django-extensions
django-geojson
django-jsonfield
django-leaflet
django-parsley
django-templatetag-handlebars
djangorestframework
gunicorn
psycopg2
markdown
dj-database-url
dj_static
django-templated-email
django-rq

# images
pillow
django-storages
easy-thumbnails
django-jsonify

# folium maps ntegation with leafletjs
# not used
# -e git+https://github.com/wrobstory/folium.git#egg=folium
# jinja2
django-pipeline
markdown2