{% extends 'base.html' %}{% load url from future %}{% load i18n report_tags leaflet_tags crispy_forms_tags templatetag_handlebars l10n thumbnail jsonify %}


{% block page_title %}{% trans 'Report a problem' %}{% endblock %}

{#% block prebody %#}
{% block commented_prebody %}
    <div class="container">
        <div class="page-header text-center">
            <h2>{% trans 'Where is the problem?' %}</h2>
        </div>
        {% crispy search_form %}
    </div>
{% endblock %}


{% block content %}
    {% report_map 'mgmeckern-map' 'window.map_init_basic' %}
{% endblock %}


{% block js %}
<script type="text/javascript">
'use strict';
/**
* Callback called by leaf js when the map is loaded
*/
function map_init_basic (map, options) {

    // var HTMLInfoControl = L.Control.extend({
    //     options: {
    //         position: 'topright'
    //     },
    //     onAdd: function (map) {
    //         // create the control container with a particular class name
    //         var container = L.DomUtil.create('div', '');
    //         $(container).html('<h2>Info HTML goes here</h2>');
    //         return container;
    //     }
    // });
    // var HTMLInfoControlInstance = new HTMLInfoControl();
    // map.addControl(HTMLInfoControlInstance);
    // HTMLInfoControlInstance.removeFrom(map);


    // initialize our map
    $('#mgmeckern-map').map_control({
            'map': map,
            'map_options': options,
            'create_report_url': '{{ report_api_url }}',
            'pins': {{ pins|jsonify }}
    });
}

$(document).ready(function(){

    if (navigator.geolocation) {
        // if we support geoloc and the user allows it
        navigator.geolocation.getCurrentPosition(function ( pos ) {
            // got it, set the maps position
            var lat = pos.coords.latitude;
            var lon = pos.coords.longitude
            window.map_control.map.panTo([lat, lon]);
        },
        // error
        function ( e ) {

        });
    }

    $('#id_q').on('click', function (e) {
        $(this).select();
    });

    $('form#frm-address-search').keypress( function ( e ) {
        if ( e.keyCode == 10 || e.keyCode == 13 ) {
            e.preventDefault();
            e.stopPropagation();
            // trigger the search click event
            window.map_control.options.search_btn.trigger('click');
        }
    });

});
</script>
{% endblock %}