{% extends 'base.html' %}
{% load i18n report_tags %}

{% block page_title %}Report a problem{% endblock %}

{% block prebody %}
    {% report_map %}
{% endblock %}

{% block content %}
<div class="row">
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3>Recent Reports</h3>
    <table class="table">
    <thead>
      <tr>
        <th>Address</th>
        <th>Comment</th>
        <th>Level</th>
      </tr>
    </thead>
    <tbody>
        {% for r in reports %}
        <tr>
            <td>{{ r.address }}</td>
            <td><blockquote>{{ r.comment|truncatewords:15 }}<small>{{ r.date_modified }}</small></blockquote></td>
            <td><span class="label {{ r.css_severity }}">{{ r.display_severity }}</div></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}